/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset ends here */

body {
    font-size: 20px;
    margin: 20px;
    background: #66a;
    color: #222;
}

header {
    width: 900px;
    margin: 0 auto 10px;
    padding: 20px 25px;
    border-radius: 15px 15px 0 0;
    background: #eee;
}

main {
    width: 900px;
    margin: auto;
    padding: 25px;
    border-radius: 0 0 15px 15px;
    background: #eee;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 35px;
    margin: 50px auto 20px;

    &:first-child {
        margin-top: 0
    }
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;

    a {
        color: #008;
        text-decoration: none;

        &:hover {
            color: #00e;
        }
    }
}

/* Profiles section */
ul:nth-of-type(1) {
    li {
        display: inline;
    }
}

/* Projects section */
ul:nth-of-type(2) {
    li {

        div {
            clear: both;
        }

        img {
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;
            border: 2px solid #222;
            box-shadow: 4px 4px 4px #aaa;

            &:hover {
                box-shadow: 6px 6px 4px #aaa;
            }

        }

        &:last-child {
            img {
                margin-bottom: 0;
            }
        }

        p {
            line-height: 150%;
        }

        span {
            background: #ddd;
            border-radius: 5px;
            padding: 3px 5px;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

footer {
    clear: both;
}
